@import '~@angular/material/theming';

@mixin ngtest-stock-market-container-component-theme($theme) {
  $warn: map-get($theme, warn);

  ngtest-stock-market {
    mat-card {
      .negative {
        color: mat-color($warn);
      }
    }

    .error {
      mat-icon {
        color: mat-color($warn);
      }
    }
  }
}
