$ngtest-black-primary: mat-palette($mat-grey, 700, 300, 900);
$ngtest-black-accent: mat-palette($mat-blue-grey, 400);
$ngtest-black-warn: mat-palette($mat-red, 500);

$ngtest-black-theme: mat-dark-theme(
  $ngtest-black-primary,
  $ngtest-black-accent,
  $ngtest-black-warn
);
