$ngtest-light-primary: mat-palette($mat-grey, 200, 500, 300);
$ngtest-light-accent: mat-palette($mat-brown, 200);
$ngtest-light-warn: mat-palette($mat-deep-orange, 200);

$ngtest-light-theme: mat-light-theme(
  $ngtest-light-primary,
  $ngtest-light-accent,
  $ngtest-light-warn
);
