$ngtest-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$ngtest-nature-accent: mat-palette($mat-deep-purple, 300);
$ngtest-nature-warn: mat-palette($mat-red, 600);

$ngtest-nature-theme: mat-light-theme(
  $ngtest-nature-primary,
  $ngtest-nature-accent,
  $ngtest-nature-warn
);
